<h1>Submit a building</h1>

<% 
if !@new_building.nil?
    @new_building.errors.messages.each do |field, msg| %>
        <p><%= field %> <%= msg[0] %></p>
<%  end 
end %>
    

<form action="/buildings/new" method="post">
    
    <div class="form-group">
        <label for="name">Building name</label><br>
        <input type="text" name="name" id="name">
    </div>    
 
     <div class="form-group">   
        <label>Is the building ugly?</label><br>
        <label for="is_ugly_yes">Yes</label>
        <input type="radio" name="is_ugly" id="is_ugly_yes" value="1">&nbsp;&nbsp;
        <label for="is_ugly_no">No</label>
        <input type="radio" name="is_ugly" id="is_ugly_no" value="0">
    </div>
    
    <!-- img_src as text -->
    <div class="form-group">
        <label for="img_src">Image URL</label><br>
        <input type="url" name="img_src" id="img_src">
    </div>
    
    <!-- height_m as number -->
    <div class="form-group">
        <label for="height_m">Height (m)</label><br>
        <input type="number" name="height_m" id="height_m">
    </div>
    
    <!-- date_built as date -->
    <div class="form-group">
        <label for="date_built">Date built</label><br>
        <input type="date" name="date_built" id="date_built">
    </div>
     

    
    <div class="form-group">
        <label for="city_id">City</label><br>
        <select name="city_id" id="city_id">
            <% @cities.each do |city| %>
                <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
        </select>
    </div>  
    
    <button type="submit">Submit Building</button>
    
</form>