<h1>Homepage</h1>

<p>
    <% if current_user %>
      Nice to see you again, <%= current_user.username %>!
      <img src="<%= current_user.avatar_url %>" />
    <% else %>
      You're not logged in...
    <% end %>
</p>