<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input  type="text"     class="form-control" 
            id="username"   name="username"
            placeholder="enter your username"
            value="">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="form-group">
    <button class="button" class="form-control" type="submit">Login</button>
  </div>
</form>

